name: Deploy to ephemeral
on:
  pull_request:
    types: [ labeled ]

jobs:
  build-and-publish-huggingchat-image:
    if: ${{ github.event.label.name == 'preview' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            huggingface/chat-ui
          tags: |
            type=sha,enable=true,prefix=dev-,format=short,sha-len=8

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.5.0

      - name: Build and Publish HuggingChat image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          cache-to: type=gha,mode=max,scope=amd64
          cache-from: type=gha,scope=amd64
          provenance: false
          build-args: |
            INCLUDE_DB=false
            APP_BASE=/chat
            PUBLIC_COMMIT_SHA=${{ env.GITHUB_SHA_SHORT }}
