name: Deploy to production
on:
  release:
    types: [released]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Check large files
        uses: ActionsDesk/lfs-warning@v2.0
        with:
          filesizelimit: 10485760 # this is 10MB so we can sync to HF Spaces
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
